body{
	display: flex;
	flex-direction: column;
}
.pagination{
	display: flex;
    float: left
}
#back {
	display: flex;
}
#users{
	display: flex;
}
 a {
	color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#inputy{
	display: flex;
    float: left;
    flex-direction: column;
}

#userdate{
	display: flex;
    flex-direction: column;
}

table{
	width: 50%;
}

 a:hover {background-color: #ddd;}
